<%- include('./header') %>

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue</title>
    <link rel="stylesheet" href="/css/catalogue.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('./nav') %>

    <div class="Nouveautes">
        <% liste_product.forEach(function(produit){ %>

       
            <div class="product">
                <a href="">
                    <img class="image_produit" src="/img/<%= produit.id %>/1.avif %>" alt="image_produit"/>
                    <h2><%= produit.type %> <br> <br></h2>
                    <h3><%= produit.prix_location %>€ /J</h3>
                </a>
            </div>
            <% }); %>
    </div>

    <%- include('./footer') %>

</body>
</html>