<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Profil</title>
    <link rel="stylesheet" href="css/info_profil.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('./nav') %> 
    <main>
        <div class="component">
            <div class="info">

                <form action="" method="POST">
                    <h3>Login :</h3>
                    <input type="text" id="login" name="login" value="<%= identifiant %> " readonly>
                    <h3>Nom :</h3>
                    <input type="text" id="nom" name="nom" value="<%= nom %>" required>
                    <h3>Prenom :</h3>
                    <input type="text" id="prenom" name="prenom" value="<%= prenom %>" required>
                    <h3>Date de naissance :</h3>
                    <input type="date" id="ddn" name="ddn" value="<%= ddn %>" required>
                    <h3>Mail :</h3>
                    <input type="text" id="email" name="email" value="<%= email %>" required>

                    <a href="./info_profil.ejs"><button class="modifier" type="submit">Enregister vos informations </button></a>
                </form>

            </div>
            <div class="mdp">
                <form action="" method="POST">
                    <h2>Modifier votre mot de passe</h3>
                    <h3>Ancien mot de passe :</h3>
                    <input type="password" id="password" name="password" required>
                    <button class="modifier" type="submit">Valider</button>

                
                    
                        <h3>Nouveau mot de passe :</h3>
                        <input type="password" id="newpassword" name="newpassword" required>

                  
                </form>
            </div>
            <div class="outils">
                <a href="/logout"><button class="deconnexion">Se déconnecter</button></a>
            </div>
        </div>
    </main>
</body>
</html>