<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/panier.css">
    <link rel="stylesheet" href="css/product.css">

</head>
<body>
<%- include('./nav') %>


<main>
    <div class="list_produits">
        <% liste_loc.forEach(function(produit){ %>
            
        <div class="produit">
            <div class="product_image">
                <a href="">
                    <img class="image_produit" src="/img/<%= produit.produit_id %>/1.avif" alt="image_produit"/>
                </a>
            </div>
            <div class="détailProduit">
    
                    <div class="productTitlePanier">
                        <h3><%= produit.id %></h3>   
                    </div>
                    <div class="productDatePanier">
                        <br> Début de la location
                    </div>
                    <input class="dateProduct" type="date" id="startDate" name="startDate" value="<%= produit.date_debut %>" required/>
                    <div class="productDatePanier">
                        <br> Fin de la location
                    </div>
                    <input class="dateProduct" type="date" id="endDate" name="endDate" value="<%= produit.date_retour_prevue %>"  required/>
                
            
        
    
            </div>
           
        </div>
        <% }); %>
        
        
        
    </div>
    
    <div class="panierBox">
        <div class="infoPanier">
            <div class="resteenhautparpitie">
            Ce texte sert à rester en haut de la boite
            </div>
            <p class="blocPanier">Multipress  40¥</p>

            <p class="textPanier">Total : 50¥
            </p>
            <button class="btnPanier">Payer</button>
        </div>
    </div>
    </div>




</main>



<%- include('./footer') %>
</body>
</html>